extends layout

block content

    div.login-box
        div.login-header
            h1 Login
        div.login-body
            form(action='/login', method='post')
                div.login-item
                    label(for='username') Benutzername
                    br
                    input(type='text',id='username',name='username')
                div.login-item
                    label(for='password') Passwort
                    br
                    input(type='password',id='password',name='password')
                div.login-item
                    button.btn(type='submit')
                        i.fa.fa-sign-in
                        span Anmelden