.login-box {
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  text-align: center;
  border: 1px solid;
}
.login-box .login-header {
  border-bottom: 1px solid;
}
.login-box .login-header h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.login-box .login-body {
  margin-top: 10px;
  margin-bottom: 10px;
}
.login-box .login-body label {
  font-weight: bold;
}
.login-box .login-body .login-item {
  margin-top: 10px;
}
input[type="text"],
input[type="password"] {
  width: 80%;
  border: 1px solid;
}
.btn {
  margin-top: 15px;
  background-color: white;
  border: 1px solid;
  width: 80%;
  height: 25px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}
.btn .fa {
  margin-right: 5px;
}
.btn .fa:only-child {
  margin-right: auto;
}
.row {
  width: 100%;
  display: table-row;
}
.row .col-3 {
  width: 33.3333333%;
  display: table-cell;
}
.btn-logout {
  float: right;
  width: auto !important;
  position: absolute;
  right: 10px;
  top: 10px;
  margin-top: 0 !important;
}
.btn:hover {
  background-color: lightgray;
}
.shopping-list {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  border: 1px solid;
  min-width: 15cm;
}
.shopping-list .list-header {
  border-bottom: 1px solid;
  position: relative;
}
.shopping-list .list-header h1 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.shopping-list .list-content {
  width: 100%;
  min-height: 300px;
  max-height: 800px;
  height: 50%;
  overflow-y: auto;
  overflow-x: hidden;
}
.shopping-list .list-content ul.list {
  list-style-type: none;
  padding-left: 0;
}
.shopping-list .list-content ul.list li.list-item {
  position: relative;
  text-align: left;
  border: 1px solid;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  margin-bottom: 10px;
}
.shopping-list .list-content ul.list li.list-item h3,
.shopping-list .list-content ul.list li.list-item h4 {
  margin-top: 0;
  margin-bottom: 0;
}
.shopping-list .list-content ul.list li.list-item h4 {
  color: lightgray;
}
.shopping-list .list-footer {
  width: 100%;
  display: table;
  border-top: 1px solid;
}
.shopping-list .list-footer .btn {
  display: block;
  margin: 10px auto;
  font-size: 14pt;
}
.btn-group .btn {
  margin-left: 5px;
  margin-right: 5px;
}
.pull-right {
  position: absolute;
  right: 10px;
  top: 10px;
}
